Exercise
At the same level as this notebook on github, there is an Exercise folder that contains carprices.csv. This file has car sell prices for 3 different models. First plot data points on a scatter plot chart to see if linear regression model can be applied. If yes, then build a model that can answer following questions,

1) Predict price of a mercedez benz that is 4 yr old with mileage 45000

2) Predict price of a BMW X5 that is 7 yr old with mileage 86000

3) Tell me the score (accuracy) of your model. (Hint: use LinearRegression().score())

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv("carprices.csv")
dataset.head(5)

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [5]:
dataset.info() , dataset.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car Model      13 non-null     object
 1   Mileage        13 non-null     int64
 2   Sell Price($)  13 non-null     int64
 3   Age(yrs)       13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 548.0+ bytes

(None,
 Index(['Car Model', 'Mileage', 'Sell Price($)', 'Age(yrs)'], dtype='object'))

In [7]:
dummie = pd.get_dummies(dataset["Car Model"])
dummie

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

In [9]:
dummie = dummie.replace({True :1 , False:2})
dummie

C:\Users\prash\AppData\Local\Temp\ipykernel_7356\2280365480.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dummie = dummie.replace({True :1 , False:2})

    Audi A5  BMW X5  Mercedez Benz C class
0         2       1                      2
1         2       1                      2
2         2       1                      2
3         2       1                      2
4         2       1                      2
5         1       2                      2
6         1       2                      2
7         1       2                      2
8         1       2                      2
9         2       2                      1
10        2       2                      1
11        2       2                      1
12        2       2                      1

In [11]:
merged = pd.concat([dataset,dummie] , axis="columns")
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,2,1,2
1,BMW X5,35000,34000,3,2,1,2
2,BMW X5,57000,26100,5,2,1,2
3,BMW X5,22500,40000,2,2,1,2
4,BMW X5,46000,31500,4,2,1,2
5,Audi A5,59000,29400,5,1,2,2
6,Audi A5,52000,32000,5,1,2,2
7,Audi A5,72000,19300,6,1,2,2
8,Audi A5,91000,12000,8,1,2,2
9,Mercedez Benz C class,67000,22000,6,2,2,1
10,Mercedez Benz C class,83000,20000,7,2,2,1
11,Mercedez Benz C class,79000,21000,7,2,2,1
12,Mercedez Benz C class,59000,33000,5,2,2,1

In [19]:
final = merged.drop("Car Model", axis="columns")
final

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000          18000         6        2       1                      2
1     35000          34000         3        2       1                      2
2     57000          26100         5        2       1                      2
3     22500          40000         2        2       1                      2
4     46000          31500         4        2       1                      2
5     59000          29400         5        1       2                      2
6     52000          32000         5        1       2                      2
7     72000          19300         6        1       2                      2
8     91000          12000         8        1       2                      2
9     67000          22000         6        2       2                      1
10    83000          20000         7        2       2                      1
11    79000          21000         7        2       2                      1
12    59000          33000         5        2       2                      1

In [25]:
x = final.drop("Mercedez Benz C class", axis="columns")
x

    Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0     69000          18000         6        2       1
1     35000          34000         3        2       1
2     57000          26100         5        2       1
3     22500          40000         2        2       1
4     46000          31500         4        2       1
5     59000          29400         5        1       2
6     52000          32000         5        1       2
7     72000          19300         6        1       2
8     91000          12000         8        1       2
9     67000          22000         6        2       2
10    83000          20000         7        2       2
11    79000          21000         7        2       2
12    59000          33000         5        2       2

In [27]:
x = x.drop(["Sell Price($)"], axis="columns")
x

    Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6        2       1
1     35000         3        2       1
2     57000         5        2       1
3     22500         2        2       1
4     46000         4        2       1
5     59000         5        1       2
6     52000         5        1       2
7     72000         6        1       2
8     91000         8        1       2
9     67000         6        2       2
10    83000         7        2       2
11    79000         7        2       2
12    59000         5        2       2

In [29]:
y = final["Sell Price($)"]
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [35]:
from sklearn.linear_model import LinearRegression

In [37]:
model = LinearRegression()

In [38]:
model.fit(x,y)

LinearRegression()

In [44]:
model.predict([[45000,4,0,1]])

C:\Users\prash\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([25346.02841042])

In [48]:
model.score(x,y)*100

94.17050937281081